html,
body {
  height: 100%;
  background-image: url(/assets/background.png);
  background-repeat: no-repeat;
  background-position: bottom; 
  background-size: cover;

}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: #e7e7e7e3;
  border: 1px solid black;
  border-radius: 15px;
}

.form-signin .checkbox {
  font-weight: 100;
  font-size: 10px;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 12px;
  background-color: #e7e7e756;
}

.form-signin .form-control:focus {
  z-index: 2;
  background-color: #f7f7f7;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.font {
  font-family: 'Dancing Script', cursive;
}

.font-size {
  font-size: 12px;
  text-decoration: none;
  color: rgb(0, 0, 109);
}